<div class="wrapper">
  <!-- SideBar -->
  <div class="col-4">
    <div class="flex-shrink-0 p-3 bg-light" style="width: 280px;">
      <a href="/home" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">CE DataBase</span>
      </a>

      <!-- Lista de elementos del SideBar -->
      <ul class="list-unstyled ps-0">

        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#home-collapse" aria-expanded="true">
            Home
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a class="link-dark rounded">Overview</a></li>
              <li><a class="link-dark rounded">Updates</a></li>
              <li><a class="link-dark rounded">Reports</a></li>
            </ul>
          </div>
        </li>

        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse" aria-expanded="false">
            Dashboard
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a class="link-dark rounded">Overview</a></li>
              <li><a class="link-dark rounded">Weekly</a></li>
              <li><a class="link-dark rounded">Monthly</a></li>
              <li><a class="link-dark rounded">Annually</a></li>
            </ul>
          </div>
        </li>

        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#orders-collapse" aria-expanded="false">
            Orders
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a class="link-dark rounded">New</a></li>
              <li><a class="link-dark rounded">Processed</a></li>
              <li><a class="link-dark rounded">Shipped</a></li>
              <li><a class="link-dark rounded">Returned</a></li>
            </ul>
          </div>
        </li>

        <li class="border-top my-3"></li>


        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#account-collapse" aria-expanded="false">
            Account
          </button>
          <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/" class="link-dark rounded">Sign out</a></li>
            </ul>
          </div>
        </li>

        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>

      </ul>

    </div>
  </div>

  <!-- Page content -->
  <div id="content" class="col-8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="submit" class="btn btn-primary" (click)="createCardChange()">CREATE</button>

        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="selectCardChange()">
          <i class="fas fa-align-left"></i>
          <span>SELECT</span>
        </button>

        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="insertCardChange()">
          <i class="fas fa-align-left"></i>
          <span>INSERT</span>
        </button>

        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="deleteCardChange()">
          <i class="fas fa-align-left"></i>
          <span>DELETE</span>
        </button>

        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="updateCardChange()">
          <i class="fas fa-align-left"></i>
          <span>UPDATE</span>
        </button>
      </div>
    </nav>

    <!-- CARD FORMS -->
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <!-- CREATE XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="createCardStatus" >
            <div class="card-body">
              <h5 class="card-title">Create XML Store</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
                    <label for="floatingEmail">Attribute 1</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Attribute 2</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea"
                      style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Attribute 3</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END CREATE XML STORE Form -->

          <!-- SELECT XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="selectCardStatus" >
            <div class="card-body">
              <h5 class="card-title">SELECT</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">SELECT</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
                    <label for="floatingEmail">FROM</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea"
                      style="height: 100px;"></textarea>
                    <label for="floatingTextarea">WHERE</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END SELECT XML STORE Form -->

          <!-- SELECT JOIN XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="selectCardStatus" >
            <div class="card-body">
              <h5 class="card-title">SELECT JOIN</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingSelect" placeholder="Your Name">
                    <label for="floatingSelect">SELECT</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingFrom" placeholder="Your Email">
                    <label for="floatingFrom">FROM</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatinInnerJoin" placeholder="Password">
                    <label for="floatinInnerJoin">INNER JOIN</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END SELECT JOIN XML STORE Form -->

          <!-- INSERT XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="insertCardStatus" >
            <div class="card-body">
              <h5 class="card-title">INSERT</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">INSERT INTO</label>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea"
                      style="height: 100px;"></textarea>
                    <label for="floatingTextarea">VALUES</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END INSERT XML STORE Form -->

          <!-- DELETE XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="deleteCardStatus" >
            <div class="card-body">
              <h5 class="card-title">DELETE</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">DELETE FROM</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea"
                      style="height: 100px;"></textarea>
                    <label for="floatingTextarea">WHERE</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END DELETE XML STORE Form -->

          <!-- DELETE-ALL XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="deleteCardStatus" >
            <div class="card-body">
              <h5 class="card-title">DELETE-ALL</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">DELETE FROM</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END DELETE-ALL XML STORE Form -->

          <!-- UPDATE XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="updateCardStatus" >
            <div class="card-body">
              <h5 class="card-title">UPDATE</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">UPDATE</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email">
                    <label for="floatingEmail">SET</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea"
                      style="height: 100px;"></textarea>
                    <label for="floatingTextarea">WHERE</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END UPDATE XML STORE Form -->

          <!-- UPDATE-ALL XML STORE Form -->
          <div class="card animate__animated animate__zoomIn" *ngIf="updateCardStatus" >
            <div class="card-body">
              <h5 class="card-title">UPDATE-ALL</h5>

              <form class="row g-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                    <label for="floatingName">UPDATE</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" id="floatingTextarea"
                      style="height: 100px;"></textarea>
                    <label for="floatingTextarea">SET</label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </form>

            </div>
          </div>
          <!-- END UPDATE-ALL XML STORE Form -->

        </div>
      </div>
    </section>

  </div>

</div>
